.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide:focus {
  outline: none;
}

.slick-slide a:focus {
  outline: none;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  margin-top: 20px;
  font-size: 0;
  text-align: center;
  height: 8px;
}

.slick-dots>* {
  display: inline-block;
  margin: 0 5px;
  vertical-align: bottom;
}

.slick-dots>*>button {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid currentcolor;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.slick-dots>*.slick-active>button {
  background-color: currentcolor;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track .slick-slide {
  position: relative;
  float: none;
  height: initial;
  min-height: initial;
}

.slick-track .slick-slide>div {
  width: 100%;
  height: 100%;
}

.slick-track .slick-slide>div .product_imgs_item {
  width: 100%;
  height: 100%;
}

.slick-track .slick-slide>div .product_imgs_item>img,
.slick-track .slick-slide>div .product_imgs_item>video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.slick-arrow {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  font-size: 0;
  border: 1px solid currentcolor;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}

.slick-prev {
  left: -2.1rem;
}

.slick-next {
  right: -2.1rem;
}